* {
    font-family: monospace;
    background-color: black;
    color: white;
}

/* div {
    border: 1px solid red;
}
*/

#P1-D1 {
    margin: 0 auto;
    height: 99vh;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}